@font-face {
    font-family: "Typo";
    font-face-name: "Typo";
    src:
        local("Typo")
}

[class^=title] {
    font-family: 'Typo', sans-serif !important;
    font-size: 28px;
    font-weight: 700;
    color: #091747;
}

[class^=st-emotion] {
    font-family: 'Typo', sans-serif !important;
    font-size: 14px;
    font-weight: 550;
    color: #091747;
}

[class^=st-emotion-cache-oq308l] {
    font-family: 'Typo', sans-serif !important;
    font-size: 18px;
    font-weight: 600;
    color: #091747;
}

[class^=st-cc] {
    font-family: 'Typo', sans-serif !important;
    font-size: 18px;
    font-weight: 600;
    color: #091747;
}
