@import url('https://fonts.googleapis.com/css2?family=Annie+Use+Your+Telescope&display=swap');
/* @import url('https://fonts.googleapis.com/css2?family=Love+Ya+Like+A+Sister&display=swap');  */

[class^=title] {
    font-family: 'Annie Use Your Telescope', sans-serif !important;
    /* font-family: 'Love Ya Like A Sister', sans-serif !important; */
    font-size: 46px;
    font-weight: 700;
    color: #091747;
}

[class^=st-emotion] {
    font-family: 'Annie Use Your Telescope', sans-serif !important;
    /* font-family: 'Love Ya Like A Sister', sans-serif !important; */
    font-size: 20px;
    font-weight: 550;
    color: #091747;
}

[class^=st-emotion-cache-oq308l] {
    font-family: 'Annie Use Your Telescope', sans-serif !important;
    /* font-family: 'Love Ya Like A Sister', sans-serif !important; */
    font-size: 26px;
    font-weight: 600;
    color: #091747;
}

[class^=st-cc] {
    font-family: 'Annie Use Your Telescope', sans-serif !important;
    /* font-family: 'Love Ya Like A Sister', sans-serif !important; */
    font-size: 18px;
    font-weight: 600;
    color: #091747;
}
